@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

.navbar {
    background-color: black;
    font-size: 20px;
}

.navbar-component {
    position: sticky;
    top: 0px;
    z-index: 11;
    font-family: 'Outfit';
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
}

.navbar-brand::after {
    content: "©";
    font-size: 10px;
}

.banner {
    transition: 1s;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: grayscale(60%);
    z-index: 10;
}

.banner-container {
    overflow: hidden;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 200px;
    font-weight: 700;
    font-family: 'Outfit';
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 10px 1px 0 #000;
    white-space: nowrap;
}

.banner-text::after {
    content: "©";
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 5px 1px 0 #000;
}

.menu-component {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    font-family: 'Outfit';
}

.left-pictures {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 20vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.right-pictures {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 20vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img-container {
    width: 220px;
    height: 220px;
    overflow: hidden;
    box-shadow: 10px 10px 1px 1px black;
    border-radius: 3px;
}

.espresso, .latte, .capuccino, .mocha, .frappe, .matcha {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(60%);
}

.espresso {
    object-position: 15% 25%;
}

.latte {
    object-position: 50% 95%;
}

.capuccino {
    object-position: 10% 25%;
}

.mocha {
    object-position: 25% 70%;
}

.frappe {
    object-position: 25% 90%;
}

.matcha {
    object-position: 10% 90%;
    scale: 1.5;
}

.menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-title {
    font-size: 54px;
    font-weight: 700;
}

.item-title {
    font-weight: 700;
    font-size: 32px;
}

.item-name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
}